// `cs-` is namespace for calisphere

$light-cs-color: rgb(245,207,173);
$dark-cs-color: rgb(235,90,57);

$navbar-default-bg: $light-cs-color;
// $navbar-default-bg does not work https://github.com/RailsApps/rails-composer/issues/146
$navbar-default-link-color: $dark-cs-color;

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.cs-logo {
  margin-top: -15px;
}

.cs-below-nav {
  @extend .row;
  ul {
    padding: 0;
    list-style-type: none;
  }
  li {
    @extend .col-sm-4;
    @extend .text-center;
    margin-top: 0.33em;
    margin-bottom: 0.33em;
    a:hover {
      color: $navbar-default-link-hover-color;
      text-decoration: none;
    }
    a {
      color: $navbar-default-link-color;
    }
  }
}

.cs-body {
  @extend .container-fluid;
}

.cs-main-row {
  @extend .row;
  display:flex; // http://stackoverflow.com/questions/22324542/bootstrap-3-columns-in-one-row-same-height
}

.cs-results-filters {
  @extend .col-sm-3;
  border: 1px black solid;
}

.cs-results-primary {
  @extend .col-sm-6;
}

.cs-results-secondary {
  @extend .col-sm-3;
}

.cs-itm {
  @extend .thumbnail;
  width: 200px;
}
