// cs is namespace for calisphere

$light-cs-color: rgb(245,207,173);
$dark-cs-color: rgb(235,90,57);

$navbar-default-bg: $light-cs-color;
$navbar-default-color: $dark-cs-color;

$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.cs-below-nav {
  @extend .row;
  li {
    @extend .col-sm-4;
  }
}
